/* ------------ all ------------ */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

body {
    background: #A2B1CC;
}

/* ------------ animation ------------ */
/* ears animation */
@keyframes left-ear {
    0% {
        transform: rotate(3deg) scale(1);
    }
    100% {
        transform: rotate(-5deg) scale(1);
    }
}

@keyframes right-ear {
    0% {
        transform: rotate(-3deg) scaleX(-1);
    }
    100% {
        transform: rotate(5deg) scaleX(-1);
    }
}

/* eyes animation */
@keyframes moving-eye {
    0% {
        height: 80px;
    }
    100% {
        height: 100px;
    }
}

@keyframes right-eye {
    0% {
        height: 80px;
    }
    100% {
        height: 100px;
    }
}

/* mouth animation */
@keyframes moving-mouth {
    0% {
        height: 30px;
    }
    100% {
        height: 20px;
    }
}

/* ------------ face ------------ */
.cat {
    width: 512px;
    height: 435px;
    position: relative;
    margin: 200px auto;
}

.cat .top-face {
    width: 470px;
    height: 407px;
    background-color: #292929;
    border-radius: 252px;
    left: 4%;
    position: absolute;
}

.cat .bottom-face {
    position: absolute;
    width: 500px;
    height: 296px;
    background-color: #292929;
    border-radius: 252px;
    left: 1%;
    top: 26%;
}

/* ------------ ears ------------ */
.cat .ear .left-ear {
    animation: left-ear 2s infinite alternate;
}

.cat .ear .right-ear {
    transform: scaleX(-1);
    animation: right-ear 2s infinite alternate;
}

.cat .ear .ear-outside {
    position: absolute;
    width: 260px;
    height: 260px;
    background-color: #292929;
    transform: skew(5deg, 20deg);
    left: 2%;
    border-radius: 30px;
}

.cat .ear .ear-inside {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: #EDAAE2;
    transform: skew(30deg, 20deg) rotate(26deg);
    left: 7%;
    top: 30px;
    border-radius: 40px;
}

/* ------------ eyes ------------ */
[class$="eye"] {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #D9D9D9;
    border-radius: 100%;
    top: 180px;
    overflow: hidden;
    z-index: 1;
}

[class$="pupil"] {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #314280;
    /* background: white; */
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

[class$="eyelid"] {
    position: absolute;
    width: 200px;
    height: 80px;
    background: #646464;
    z-index: 3;
    transform: rotate(-20deg) translate(-50px, -50px);
    animation: moving-eye 2s infinite alternate;
}
.cat .left-eye {
    left: 20%;
}

.cat .right-eye {
    transform: scaleX(-1);
    left: 57%;
}

/* ------------ glasses ------------ */
.glasses [class$="circle"] {
    position: absolute;
    width: 190px;
    height: 190px;
    border: 10px solid #E3E3E3;
    border-radius: 100%;
    top: 120px;
}

.glasses .left-circle {
    left: 35px;
}

.glasses .right-circle {
    left: 260px;
}

.glasses [class$="line"] {
    position: absolute;
    background: #E3E3E3;
    height: 10px;
    z-index: 5;
}

.glasses .middle-line {
    width: 30px;
    top: 220px;
    left: 240px;
}
.glasses .left-line {
    width: 40px;
    top: 180px;
    left: 10px;
    transform: rotate(40deg);
}

.glasses .right-line {
    width: 40px;
    top: 180px;
    left: 460px;
    transform: rotate(-40deg);
}

/* ------------ nose ------------ */
.nose {
    position: absolute;
    width: 30px;
    height: 20px;
    border-radius: 30px;
    background: #45443C;
    z-index: 3;
    top: 250px;
    left: 217px;
}

/* ------------ mouse ------------ */
.mouth {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #933C3C;
    border-radius: 100% 100% 70% 70%;
    top: 280px;
    left: 217px;
    z-index: 3;
    overflow:hidden;
    animation: moving-mouth 2s infinite alternate;
}

.mouth .teeth {
    position: absolute;
    width: 20px;
    height: 11px;
    background: #D9D9D9;
    border-radius: 5px;
    left: 5px;
}

/* ------------ whiskers ------------ */
.top-whiskers,
.bottom-whiskers {
    background: #939393;
}

.top-whiskers {
    position: absolute;
    width: 44px;
    height: 5px;
    top: 320px;
    z-index: 3;
    transform: rotate(-20deg);
}

.bottom-whiskers {
    position: absolute;
    width: 40px;
    height: 5px;
    top: 350px;
    z-index: 3;
    transform: rotate(-40deg);
}

.left-whiskers .top-whiskers {
    transform: rotate(-20deg);
}

.left-whiskers .bottom-whiskers {
    left: 22px;
    transform: rotate(-40deg);
}

.right-whiskers .top-whiskers {
    right: 0px;
    transform: rotate(20deg);
}

.right-whiskers .bottom-whiskers {
    right: 22px;
    transform: rotate(40deg);
}